<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="out">
        <dir
          name="artifacts">
          <dir
            name="Cassuz"/>
        </dir>
        <dir
          name="production">
          <dir
            name="CassuzResultadoFinal">
            <dir
              name="cassuz">
              <dir
                name="examples">
                <dir
                  name="com">
                  <dir
                    name="styles"/>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="src">
        <dir
          name="cassuz">
          <dir
            name="examples">
            <dir
              name="com">
              <dir
                name="DAOFactory"/>
              <dir
                name="Excepciones"/>
              <dir
                name="beans"/>
              <dir
                name="conexion"/>
              <dir
                name="controladores"/>
              <dir
                name="dao"/>
              <dir
                name="interfaces"/>
              <dir
                name="styles"/>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java5">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk1.8.0_281/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk1.8.0_281/jre/lib/rt.jar"/>
    </class_paths>
  </java_options>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
